.button__add{
    width: 320px;
    height: 36px;
    margin: 0 auto;
    display: block;
    border: 1px solid #424242;
    background-color: #202020;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    transition: all .5s ease;
}

.button__add:hover{
    opacity: 0.6;
}

@media screen and (max-width: 767px){
    .button__add{
        width: 240px;
    }
}

