.navigation{
    background-color: #202020;
}

.navigation__contaner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation__links{ 
    margin-left: 44px;
}

.navigation__movies{
    margin-right: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    transition: opacity linear 0.5s;
}

.navigation__saved-movies{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    transition: opacity linear 0.5s;
}

.navigation__button{
    width: 100px;
    height: 32px;
    border-radius: 20px;
    background-color: #313131;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity linear 0.5s;
}

.navigation__menu{
    display: none;
    width: 44px;
    height: 44px;
    background-image: url(../../images/menu.png);
    cursor: pointer;
    transition: opacity linear 0.5s;
}

.navigation__movies:hover{
    opacity: 0.6;
}

.navigation__saved-movies:hover{
    opacity: 0.6;
}

.navigation__button:hover{
    opacity: 0.6;
}

.navigation__menu:hover{
    opacity: 0.6;
}

    @media screen and (min-width: 768px) and (max-width: 1023px){
        .navigation__links{ 
            display: none;
        }

        .navigation__button{
            display: none;
        }

        .navigation__menu{
            display: block;
        }
    }

    @media screen and (max-width: 767px){
        .navigation__links{ 
            display: none;
        }    
        
        .navigation__button{
            display: none;
        }

        .navigation__menu{
            display: block;
            width: 40px;
            height: 43px;
        }
    }
