
.list__contaner{
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-template-rows: repeat(auto-fill, 229px);
    column-gap: 20px;
    row-gap: 38px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 80px 0 80px 0;
}


@media screen and (min-width: 768px) and (max-width: 1023px){
    .list__contaner{
        grid-template-columns: repeat(auto-fill, 339px);
        grid-template-rows: repeat(auto-fill, 270px);
        column-gap: 30px;
        row-gap: 30px;
    }
    
}

@media screen and (max-width: 767px){
    .list__contaner{
        grid-template-columns: repeat(auto-fill, 300px);
        grid-template-rows: repeat(auto-fill, 245px);
        gap: 34px;
        margin: 50px 0 50px 0;
    }
}

